<% provide(:title, I18n.t("login.title")) %>
<h1><%= I18n.t("login.title") %></h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(url: login_path, scope: :session, local: true) do |f| %>
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
      <%= f.label :password %>
      <%= link_to "(forgot password)", new_password_reset_path %>
      <%= f.password_field :password, class: 'form-control' %>
      <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span>Remember me on this computer</span>
      <% end %>
      <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>
    <p><%= I18n.t("login.signup_more")%> <%= link_to I18n.t("login.signup"), signup_path %></p>
    <div class="divider"></div>
    <h2><%= I18n.t("login.signin_more")%></h2>
    <div class="checkbox inline">
      <input type="checkbox" id="checked_google_oauth2">
      <span for="google_oauth2"> Remember me on this computer</span>
    </div>
    <a href="/auth/google_oauth2" id="google_oauth2">Google</a>
    <%= javascript_include_tag 'cookie.js' %>
  </div>
</div>
