<% if react.nil? %>
  <% react = React.new %>
  <%= form_with(model: react, id: "react_#{dom_id(react)}_#{dom_id(post)}_create_form") do |f| %>
    <h3>React (<%= post.reacts.count %>)</h3>
    <%= render 'shared/error_messages', object: f.object %>
    <%= f.select :emotion, options_for_select(["like", "love", "haha", "wow", "sad", "angry"]), :class => 'field' %>
    <%= f.hidden_field :micropost_id, value: post.id %>
    <%= f.submit "React", class: "btn btn-primary" %>
  <% end %>
<% else %>
  <div id=<%="react_#{dom_id(react)}_#{dom_id(post)}_delete_form"%>>
    <h3>React (<%= post.reacts.count %>)</h3>
    <% if current_user?(react.user) %>
      <%= button_to "Remove-#{react.emotion}", react, method: :delete, data: { confirm: "You sure?" }, class: "btn btn-primary" %>
    <% end %>
  </div>
<% end %>
