<% arr = ["like", "love", "haha", "wow", "sad", "angry"]%>
<% if react.nil? %>
  <% react = React.new %>
  <figure id=<%="#{dom_id(post)}_form"%>>
    <h3 class='reactNum' >React (<%= post.reacts.count %>)</h3>
    <div class="reacts-block">
      <% arr.each do |e| %>
        <% emotion = "'#{e}'"%>
        <img src="/assets/create_<%= e %>.png" class="<%= e %> emoji" onclick="createReact(<%= emotion %>,<%= post.id %>);">
      <%end %>
    </div>
  </figure>
<% else %>
  <figure id=<%="#{dom_id(post)}_form"%>>
    <h3 class='reactNum' >React (<%= post.reacts.count %>)</h3>
    <div class="reacts-block">
      <% arr.each do |e| %>
        <% if e == react.emotion %>
          <% emotion = "'#{e}'"%>
          <img src="/assets/destroy_<%= e %>.png" class="<%= e %> emoji" onclick="destroyReact(<%= emotion %>,<%= post.id %>,<%= react.id %>);">
        <% else %>
          <% emotion = "'#{e}'"%>
          <img src="/assets/create_<%= e %>.png" class="<%= e %> emoji" onclick="updateReact(<%= emotion %>,<%= post.id %>,<%= react.id %>);">
        <% end %>
      <%end %>
    </div>
  </figure>
<% end %>

<%= javascript_include_tag 'button_react.js' %>
