<%= form_with(model: @comment, local: true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.hidden_field :micropost_id, value: post.id %>
    <%= f.text_area :content, placeholder: I18n.t("post.comment_guide") %>
  </div>
  <%= f.submit I18n.t("post.comment"), class: "btn btn-primary" %>
<% end %>
