<li id="comment-<%= comment.id %>">
  <%= link_to gravatar_for(comment.user, size: 50), comment.user %>
  <span class="user"><%= link_to comment.user.name, comment.user %></span>
  <span class="content">
    <%= comment.content %>
    <%= image_tag comment.image if comment.image.attached? %>
  </span>
  <span class="timestamp">
    <%= I18n.t("post.at_time") + ' ' + I18n.l(comment.created_at)%><br>
    <% if current_user?(comment.user) %>
      <%= button_to I18n.t("post.delete"), comment, method: :delete, data: { confirm: "You sure?" } %>
    <% end %>
    <% reacted = comment.reacts.find_by user_id: current_user.id %>
    <%= render :partial => 'reacts/form', :locals => {:react => reacted, :post => comment} if logged_in? %>
  </span>
</li>
