<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <span class="content">
    <%= micropost.content %>
    <%= image_tag micropost.image if micropost.image.attached? %>
    <%# <%= image_tag micropost.display_image if micropost.image.attached? %>
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
    <% if current_user?(micropost.user) %>
      <%= button_to I18n.t("post.delete"), micropost, method: :delete, data: { confirm: "You sure?" } %>
    <% end %>
  </span>
  <% react = micropost.reacts.find_by user_id: current_user.id %>
  <%= render :partial => 'reacts/form', :locals => {:react => react, :post => micropost} if logged_in? %>
  <span class="content">
    <ol class="microposts">
      <% comments = Micropost.where(micropost_id: micropost.id).first(2) %>
      <% comments.each do |comment| %>
        <%= render partial: "microposts/comment",  locals: {comment: comment} %>
      <% end %>
    </ol>
    <%= render 'microposts/comment_form', post: micropost if logged_in? %>
  </span>
  <div class="more">
    <%= link_to I18n.t("post.read_more"), micropost %>
  </div>
</li>
